<div class="display-container">
  <div class="buttons-grid">
    <button class="control-btn power-off-btn" (click)="powerOff()">
      <i class="fas fa-power-off"></i>
      <span>Power Off</span>
    </button>
    <button class="control-btn power-on-btn" (click)="powerOn()">
      <i class="fas fa-toggle-on"></i>
      <span>Power On</span>
    </button>
    <button class="control-btn volume-up-btn" (click)="volumeUp()">
      <i class="fas fa-volume-up"></i>
      <span>Volume Up</span>
    </button>
    <button class="control-btn volume-down-btn" (click)="volumeDown()">
      <i class="fas fa-volume-down"></i>
      <span>Volume Down</span>
    </button>
  </div>
</div>

