<div class="playlist-list-wrapper">
  <div class="search-container">
    <div class="search-input-wrapper">
      <input
        type="text"
        class="search-input"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        [placeholder]="'searchPlaylists' | translate"
      />
      <button *ngIf="searchTerm" class="clear-search-btn" (click)="clearSearch()" [title]="'clearSearch' | translate">
        ×
      </button>
    </div>
    <div class="search-results" *ngIf="showSearchResults">
      <div
        *ngIf="searchResults.length === 0 && searchTerm.trim().length > 0"
        class="no-results"
      >
        {{ 'noPlaylistsFound' | translate }}
      </div>
      <div
        *ngFor="let result of searchResults"
        class="search-result-item"
        (click)="onSearchResultSelect(result)"
      >
        <div class="search-result-name">{{ result.name }}</div>
        <div class="search-result-description" *ngIf="result.description">
          {{ result.description }}
        </div>
      </div>
    </div>
    <div class="current-playlist" *ngIf="currentPlaylist">
      <div class="current-playlist-name">{{ currentPlaylist.name }}</div>
      <div class="current-playlist-description" *ngIf="currentPlaylist.description">
        {{ currentPlaylist.description }}
      </div>
    </div>
  </div>
  <div class="playlist-container">
    <div class="playlist-items-wrapper">
      <div *ngIf="playlist.length === 0" class="empty-playlist">{{ 'loadingPlaylist' | translate }}</div>
      <app-playlist-item
        *ngFor="let item of playlist; let i = index"
        [item]="item"
        [index]="i"
        (itemClick)="onPlaylistItemClick($event)"
        (pageClick)="onPlaylistItemPageClick($event)">
      </app-playlist-item>
    </div>
  </div>
</div>

