<div class="settings-container">
  <div class="settings-header">
    <div class="tabs">
      <button
        *ngIf="hasViewGeneralSettingsPermission()"
        class="tab-button"
        [class.active]="activeTab === 'general'"
        (click)="switchTab('general')"
      >
        {{ 'generalSettings' | translate }}
      </button>
      <button
        *ngIf="hasViewUsersPermission()"
        class="tab-button"
        [class.active]="activeTab === 'users'"
        (click)="switchTab('users')"
      >
        {{ 'users' | translate }}
      </button>
      <button
        *ngIf="hasViewRolesPermission()"
        class="tab-button"
        [class.active]="activeTab === 'roles'"
        (click)="switchTab('roles')"
      >
        {{ 'roles' | translate }}
      </button>
      <button
        *ngIf="hasViewRolesPermission()"
        class="tab-button"
        [class.active]="activeTab === 'permissions'"
        (click)="switchTab('permissions')"
      >
        {{ 'rolesPermissions' | translate }}
      </button>
      <button
        *ngIf="hasViewLocationsPermission()"
        class="tab-button"
        [class.active]="activeTab === 'locations'"
        (click)="switchTab('locations')"
      >
        {{ 'locations' | translate }}
      </button>
    </div>
  </div>
  <div class="settings-content">
    <app-general-settings *ngIf="activeTab === 'general' && hasViewGeneralSettingsPermission()"></app-general-settings>
    <app-user-editor *ngIf="activeTab === 'users' && hasViewUsersPermission()"></app-user-editor>
    <app-role-editor *ngIf="activeTab === 'roles' && hasViewRolesPermission()"></app-role-editor>
    <app-role-permissions-editor *ngIf="activeTab === 'permissions' && hasViewRolesPermission()"></app-role-permissions-editor>
    <app-locations-editor *ngIf="activeTab === 'locations' && hasViewLocationsPermission()"></app-locations-editor>
  </div>
</div>

