<div class="playlist-item" (click)="onItemClick($event)">
  <div class="playlist-item-number">{{ index + 1 }}</div>
  <div class="playlist-item-content">
    <div class="playlist-item-type">{{ item.name }}</div>
    <div class="playlist-item-description" *ngIf="item.description">
      {{ item.description }}
    </div>
    <div class="playlist-item-preview"
         *ngIf="item.type === 'text' && item.pages && item.pages.length > 1">
      <button *ngFor="let pageNum of item.pages"
              (click)="onPageClick($event, pageNum)"
              class="page-button">
        {{ pageNum }}
      </button>
    </div>
  </div>
  <div class="item-guid-badge">{{ item.guid }}</div>
</div>

