<div class="editor-container">
  <div class="editor-header">
    <div class="tabs">
      <button
        *ngIf="hasLibraryEditorPermission()"
        class="tab-button"
        [class.active]="activeTab === 'library'"
        (click)="switchTab('library')"
      >
        {{ 'library' | translate }}
      </button>
      <button
        *ngIf="hasPlaylistEditorPermission()"
        class="tab-button"
        [class.active]="activeTab === 'playlist'"
        (click)="switchTab('playlist')"
      >
        {{ 'playlistEditor' | translate }}
      </button>
    </div>
  </div>
  <div class="editor-content">
    <app-library-editor *ngIf="activeTab === 'library' && hasLibraryEditorPermission()"></app-library-editor>
    <app-playlist-editor *ngIf="activeTab === 'playlist' && hasPlaylistEditorPermission()"></app-playlist-editor>
  </div>
</div>

